extends layouts/main

block content
    .form-container
        form(action="/upload", method="post")
            .url-input
                input(type="text", name="url", placeholder="URL", required="true")
            .url-highlight-input
                input(type="text", name="highlight", placeholder="URL-highlight", required="true")
            .location-input 장소
                .location-items
                    each location in locations
                        input(type="checkbox", id=`${location.key}-check`, name="location", value=`${location.value}`)
                        label(for=`${location.key}-check`) #{location.value}
            .target-input 부위
                .target-items
                    each target in targets
                        input(type="checkbox", id=`${target.key}-check`, name="target", value=`${target.value}`)
                        label(for=`${target.key}-check`) #{target.value}
            .occupation-input 직업
                .occupation-items
                    each occupation in occupations
                        input(type="checkbox", id=`${occupation.key}-check`, name="occupation", value=`${occupation.value}`)
                        label(for=`${occupation.key}-check`) #{occupation.value}
            .situation-input 상황
                .situation-items
                    input(type="text", name="situation", placeholder="아침,긴장,운동 후,...")
            input(type="submit", value="업로드")